# Assignment 1 - Exploratory Data Analysis

## Instructions

For the First Assignment, we are going to be Performing Exploratory Data Analysis Using Python, R and any AI(Chatgpt, Perplexity, etc) and Critical Thinking.

1. There are set of questions that are similar for Python, R and AI task.
2. The dataset are same for all the tasks.
3. For Task involving R use a different R notebook.
4. You have to provide the prompts by using any AI(Chatgpt, Perplexity, etc) to get the answers for each question.
5. Provide the screenshot of the prompt and the output provided by the AI in the word document.
6. Provide the steps to solve the Critical Thinking tasks and also the respective code.
7. Each Task is presenting a challenge.

## Task 1: Python (25 Points)

Run this cell by default to load the dataset.

This tabular dataset consists of Human Resources details with data about name,emp id,etc

In [36]:
import pandas as pd
HB_data = pd.read_csv("hotel_bookings.csv")
HB_data.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

### Task 1A: 4 points
1. Provide the descriptive statistics of the dataset
2. Identify the missing values.

### Task 1B: 6 points
1. Incorporate various plots to visualize data distribution and relationship
- Bargraph for categorical data
- Histogram for numeric 
- Correlation Heatmap

### Task 1C: 4 points
1. Clean and Transform the dataset for analaysis

### Task 1D: 4 points
Analyze booking lead times by hotel type

### Task 1E: 3 points
What is the Average Daily Rate by Hotel Type and Market Segment?

### Task 1F: 4 points
Provide the answer for Task 1E using PandasAI.

## Task 2: R(25 Points)

Perform all the task for R where the data and the questions are same as that for Task 1.

Use a different R notebook.

## Task 3: AI (20 Points)

Perform all the task using any AI where the data and the questions are same as that for Task 1.

Provide the screenshots of prompts and output of AI in word document.

## Task 4: Critical Thinking (30 Points)

### Task 4A: Critical Thinking Task 1- Python (10 Points)
How does the lead time affect the daily rate, and what implications does this have for revenue management?

### Task 4B: Critical Thinking Task 2: Python (10 Points)
What are the seasonal booking patterns?

### Task 4C: Critical Thinking Task 3: AI (10 Points)
How do market segments differ in behavior?

### Programming Assignment Details

1. If using any resource (books, internet), please make sure that you cite it within that cell.
2. Do not rename the dataset_files.

###  Submission details
Fill your name and ID in the jupyter notebook for each group member in the following format:

1. First Student Name and ID: ABC 1001XXXXXX
2. Second Student Name and ID: DEF 1002XXXXXX
3. Third Student Name and ID: GHI 1003XXXXXX

Name your submission files:

yourLastName_Last4digitsofyourID.ipynb 

yourLastName_Last4digitsofyourID.docx

EG: abc_1234_def_5678_xyz3819_python.ipynb, abc_1234_def_5678_xyz3819_R.ipynb and abc_1234_def_5678_xyz3819.docx

### NOTE: Only one team member will submit the file.